<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717875328757-1viitjr2uku6n0dlpgrfph4kbc9jmgta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717875328757-1viitjr2uku6n0dlpgrfph4kbc9jmgta</string>
	<key>API_KEY</key>
	<string>AIzaSyA_UZXieVjGqY78dPHyixdsrJNex2IwNbM</string>
	<key>GCM_SENDER_ID</key>
	<string>717875328757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloWorld</string>
	<key>PROJECT_ID</key>
	<string>student-instructor-app</string>
	<key>STORAGE_BUCKET</key>
	<string>student-instructor-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717875328757:ios:e94cc7c0cf32f53a0af7bc</string>
</dict>
</plist>